@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground:rgb(14, 165, 233);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(14, 165, 233);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
